<!DOCTYPE html>
<html>
    <h1>Access Request</h1>
    <body>
        {% if err then %}
        <h2>ERROR: {{err}}</h2>
        {% end %}
        <ul>
            <li>IP: {{req.addr}}</li>
            <li>User-Agent: {{req.ua}}</li>
            <li>Request: {{req.method}} {{req.url}}</li>
        </ul>
        <br>
        {% if current_ip then %}
        <h3>this is your current IP address</h3>
        {% end %}
        <form action="" method="post">
            <ul>
                <li>
                    <input type="radio" id="approve" name="action" value="approve">
                    <label for="approve">approve</label><br>

                    <input type="radio" id="deny" name="action" value="deny" checked="checked">
                    <label for="deny">deny</label><br>
                </li>

                <li>
                    <input type="radio" id="addr" name="subject" value="addr" checked="checked">
                    <label for="addr">this ip ({{req.addr}})</label><br>

                    <input type="radio" id="ua" name="subject" value="ua">
                    <label for="ua">this user agent ({{req.ua}})</label><br>
                </li>


                <li>
                    <input type="radio" id="global" name="scope" value="global" checked="checked">
                    <label for="global">global (all apps)</label><br>

                    <input type="radio" id="host" name="scope" value="host">
                    <label for="host">this app ({{req.host}})</label><br>

                    <input type="radio" id="url" name="scope" value="url">
                    <label for="url">this URL ({{req.url}})</label><br>
                </li>

                <li>
                    <input type="radio" id="minute" name="period" value="minute">
                    <label for="minute">1 minute</label><br>

                    <input type="radio" id="hour" name="period" value="hour">
                    <label for="hour">1 hour</label><br>

                    <input type="radio" id="day" name="period" value="day" checked="checked">
                    <label for="day">1 day</label><br>

                    <input type="radio" id="week" name="period" value="week">
                    <label for="week">1 week</label><br>

                    <input type="radio" id="forever" name="period" value="forever">
                    <label for="forever">forever</label><br>
                </li>

            </ul>
            <button type="submit">submit</button>
        </form>
    </body>
</html>
